body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.sobre-a-loja {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  padding: 40px;
}

.loja-imagem img {
  width: 100%;
  height: auto;
  max-width: 600px;
  object-fit: contain;
}

.loja-texto {
  padding: 20px; 
  text-align: center;
}

.produtos {
  display: grid;
  gap: 20px;
  padding: 40px;
}

.produto {
  width: calc(50%-20px);
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f9f9f9;
}

.produto img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.botao-adicionar {
  display: block;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 5px;
  border-radius: 4px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .produtos {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 480px) {
  .produtos {
    grid-template-columns: repeat(1, 1fr);
  }
}


